body {
    margin: 0;
    font-family: Poppins;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F1490247.jpg&f=1&nofb=1&ipt=920e1fbf7ed9bda5a2efef0c1310fdf53cea0c2092313c2ddd8ad21a7aa4a247&ipo=images");
}

body, html {
    scroll-behavior: smooth;
}

.eventi ul {
    padding-top: 5vh;
    font-size: 20px;
    text-align: left;
    color: white;
    text-shadow: 1px 1px 10px #fd02b6, 1px 1px 10px #fd02b6;
    padding-top: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.eventi li {
    padding: 1vh;
}


nav {
    color: white;
    text-align: center;
    font-size: 30px;
    position: fixed;
    height: 7.5vh;
    width: 100%;
    z-index: 2;
    padding: 15px;
    background-color: rgba(0, 0, 0,0.5);
}

    nav a {
        text-decoration:;
        color: white;
        margin: 10px;
        transition: 0.5s ease-in-out;
        text-decoration: none;
    }

        nav a:hover {
            border-radius: 1%;
            font-size: 32px;
            text-shadow: 1px 1px 10px #fd02b6, 1px 1px 10px #fd02b6;
        }

        nav a:link {
            color: white;
            text-decoration: none;
        }

        nav a:visited {
            color: white;
            text-decoration: none;
        }

img {
    padding-top:5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}